RewriteEngine On

# Redirige todo el tráfico a router.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)(/([^/]*))?(/([0-9]+))?$ router.php?controller=$1&action=$3&id=$5 [QSA,L]
